<%= form_for @user, html: { multipart: true } do |f| %>

  <%= render "shared/error_messages", :target => @user %>

  <div class="field">
    <label class="label"><%= f.label :name %></label>
    <div class="control"><%= f.text_field :name %></div>
  </div>

  <div class="field">
    <label class="label"><%= f.label :email %></label>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <label class="label"><%= f.label :password %></label>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <label class="label"><%= f.label :password_confirmation %></label>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <label class="label"><%= f.label :avatar, 'Загрузить аватар (*):' %></label>
    <div class="control"><%= f.file_field :avatar %></div>
  </div>

  <% if @user.avatar? %>
  <p><strong>Существующий аватар:</strong></p>
  <p><%= image_tag @user.avatar.url(:thumb), class: 'img-show', alt: @user.name %></p>
  <% end %>

  <hr>
  <div class="control">
    <%= f.submit 'Сохранить', class: "button is-success" %>
    <%= link_to 'Отмена', users_path, class: "button" %>
  </div>

<% end %>
