<%= form_for @user, html: { multipart: true } do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :avatar, 'Загрузить аватар:' %><br />
    <%= f.file_field :avatar %>
  </p>

  <% if @user.avatar? %>
  <p><strong>Существующий аватар:</strong></p>
  <p><%= image_tag @user.avatar.url(:thumb), class: 'img-show', alt: @user.name %></p>
  <% end %>

  <p>
    <%= f.submit 'Сохранить' %> |
    <%= link_to 'Отмена', users_path %>
  </p>

<% end %>