<h2 class="title">Пользователи</h2>

<%= 'Нет пользователей' if @users.empty? %>

<p><%= link_to 'Создать пользователя', new_user_path, class: "button is-link" %></p>

<hr>

<%= will_paginate %>
<hr>
<%= render @users %>
<hr>
<%= will_paginate %>
